.App {
  text-align: center;
}

.brand a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 28px;
}

.navbar{
  position: fixed;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, .25),
              0 10px 10px rgba(0,0,0,.22);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: blue;
  color: white;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 500;
}

.header {
  background-color: gray;
  text-align: center;
  padding: 125px 20px 110px 20px;
  
}

.img-container {
  margin: 0 auto;
  background-color: lightblue;
  width: 80%;
  margin-top: 10%
}

img {
  display: inline-block;
  margin: 15px;
  width: 200px;
  height: 200px;
  border: 5px solid #f1f1f1;
}